.back-button {
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.back-button a {
  text-decoration: none;
  color: black;
}

.new-button {
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  width: 50%;
  margin-left: 370px;
}

.new-button a {
  text-decoration: none;
  color: black;
}
