.back-button {
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.back-button a {
  text-decoration: none;
  color: black;
}

.new-button {
  border: 1px solid #ff6961;
  border-radius: 40%;
  background-color: #ff6961;
  display: inline-block;
  padding: 0.5em 0.6em;
  position: absolute;
  right: 20px;
  top: 0px;
}
.new-button a {
  text-decoration: none;
  color: white;
}

.return-button {
  margin-top: 40px;
  position: absolute;
  left: 80px;
}
.return-button a {
  color: black;
  font-weight: bold;
}
