.simple-calendar {
  width: 100%;
  //border-collapse: collapse;
  //border-spacing: 0;
  border: 1px solid #ccc;
  font-size: 12px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  margin-top: 125px;
}

.calendar-title {
  font-size: 40px;
  font-weight: bolder;
}
.calendar-heading a {
  color: rgb(95, 2, 2);
  text-decoration: none;
  margin: auto 10px;
  font-size: 40px;
}

.day {
  padding: 5px;
  //border: 1px solid #ccc;
  text-align: left;
  line-height: 78px;
  width: 80px;
  font-weight:bold;
  box-sizing: border-box;
}

.wday-0 {
  color: #000;
  border: 1px solid #ccc;
}
.wday-0 .card-title {
  background-color: #E9B384;
}
.wday-1 {
  color: #000;
  border: 1px solid #ccc;
}
.wday-1 .card-title{
  background-color: #E0E3F4;
}
.wday-2 {
  color: #000;
  border: 1px solid #ccc;
}
.wday-2 .card-title{
  background-color: #E8DFCA;
}
.wday-3 {
  color: #000;
  border: 1px solid #ccc;
}
.wday-4 {
  color: #000;
  border: 1px solid #ccc;
}
.wday-4 .card-title {
  background-color: #AEBDCA;
}
.wday-5 {
  color: #000;
  border: 1px solid #ccc;
}
.wday-5 .card-title {
  background-color: #F3E9DD;
}
.wday-6 {
  color: #f00;
  border: 1px solid #ccc;
}
.wday-6 .card-title {
  background-color: #E9B384;
}

.today {
  background-color: #f0f0f0;
}
.past {
  color: #ccc;
}
.future {
  color: #000;
}

.start-date {
  background-color: #f0f0f0;
}

.prev-month {
  color: #ccc;
}
.prev-month .day {
  color: #ccc;
}
.next-month{
  color: #ccc;
}
.next-month .day{
  color: #ccc;
}
.current-month {
  color: #000;
}

.has-events {
  background-color: #f0f0f0;
}

.card-title {
  border: 1px solid #92a592;
  border-radius: 5px;
  background-color: #C0D8C0;
  margin-top: 5px;
  //min-height: 50px;
  text-align: left;
  //width: fit-content;
  box-sizing: border-box;
  min-width: max-content; //prev month did not affect
  padding: 5px;
}

.card-title a {
  color: white;
  font-weight: normal;
  text-decoration: none;
}
th {
  border: 1px solid #ccc;
}
